input, select {
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0 !important;
}

.btn {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0 !important;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.input-group-text {
    background: transparent !important;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-menu-input-search {
    border: 1px solid #ced4da !important;
    border-radius: 0 !important;
}