.home-body {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: gray;
    border-color: transparent;
}

.btn-primary:disabled {
    background-color: lightgray;
    border-color: transparent;
}